    .container {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border-bottom: 2px #808080 solid;
    color: #808080;
    display: flex;
    }

    .link {
        width: 100%;
        background: orange;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-around;
    }

    .cardInfo {
        width: 80%;
        background: green;
    }