    .container {
        color: #000;
        width: 100%;
        height: 9vh;
        background-image: radial-gradient(circle at 50% 50%, #bb4e7e 0, #ad427e 16.67%, #982f78 33.33%, #33122f 50%, #600065 66.67%, #450060 83.33%, #290060 100%);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0 5px 5px grey;
        z-index: 999;
    }

    .logoHeader {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 97%;
        padding: 5px;
        align-items: center;
    }

    .boxImpulse {
        padding: 5px 20px;
        background: #fff;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logoLinx {
        width: 2.3rem;
        height: 80%;
        margin: 3px 10px;
    }

    .logoImpulse {
        width: 5rem;
        height: 90%;
    }

    
    
